In [3]:
import pandas as pd
import os

In [9]:
##original function

#cpdef double controversy(long ups, long downs):
#    """The controversy sort."""
#    if downs <= 0 or ups <= 0:
#        return 0
#
#    magnitude = ups + downs
#    balance = float(downs) / ups if ups > downs else float(ups) / downs
#
#    return magnitude ** balance

## python version

def controversy(ups, downs):
    if downs <= 0 or ups <= 0:
        return 0

    magnitude = ups + downs
    balance = downs / ups if ups > downs else ups / downs

    return magnitude ** balance

def controversy2(row):
    return controversy(row.ups, row.downs)

In [13]:
df = pd.read_csv('../sampled/CatGifs.tsv', sep='\t')
df.head()

,approved_at_utc,approved_by,archived,author,author_cakeday,author_flair_css_class,author_flair_text,banned_at_utc,banned_by,body,...,replies,report_reasons,retrieved_on,saved,score,score_hidden,stickied,subreddit,subreddit_id,ups
0,NaN,NaN,NaN,xtfftc,NaN,NaN,NaN,NaN,NaN,me too thanks,...,NaN,NaN,1.465721e+09,NaN,3,NaN,False,CatGifs,t5_2t7ge,3.0
1,NaN,NaN,NaN,KittinBubbles,NaN,NaN,NaN,NaN,NaN,Cat.,...,NaN,NaN,1.469251e+09,NaN,2,NaN,False,CatGifs,t5_2t7ge,2.0
2,NaN,NaN,NaN,kerrymti1,NaN,NaN,NaN,NaN,NaN,One of mine does that...real sensitive there.,...,NaN,NaN,1.469252e+09,NaN,1,NaN,False,CatGifs,t5_2t7ge,1.0
3,NaN,NaN,NaN,thequietone710,NaN,NaN,NaN,NaN,NaN,/r/thecattrapisworking,...,NaN,NaN,1.469253e+09,NaN,3,NaN,False,CatGifs,t5_2t7ge,3.0
4,NaN,NaN,NaN,SteveKep,NaN,NaN,NaN,NaN,NaN,"Halp, it ettin meh!",...,NaN,NaN,1.469253e+09,NaN,2,NaN,False,CatGifs,t5_2t7ge,2.0

In [14]:
df.columns.values

array(['approved_at_utc', 'approved_by', 'archived', 'author',
       'author_cakeday', 'author_flair_css_class', 'author_flair_text',
       'banned_at_utc', 'banned_by', 'body', 'can_gild', 'can_mod_post',
       'collapsed', 'collapsed_reason', 'controversiality', 'created',
       'created_utc', 'distinguished', 'downs', 'edited', 'gilded', 'id',
       'is_submitter', 'likes', 'link_id', 'name', 'num_reports',
       'parent_id', 'removal_reason', 'replies', 'report_reasons',
       'retrieved_on', 'saved', 'score', 'score_hidden', 'stickied',
       'subreddit', 'subreddit_id', 'ups'], dtype=object)

In [15]:
df[['controversiality', 'ups', 'downs']].describe()

       controversiality           ups   downs
count      23750.000000  16596.000000  9063.0
mean           0.012674      4.082490     0.0
std            0.111864      7.589157     0.0
min            0.000000    -96.000000     0.0
25%            0.000000      1.000000     0.0
50%            0.000000      2.000000     0.0
75%            0.000000      5.000000     0.0
max            1.000000    330.000000     0.0

In [16]:
df['new_controversiality'] = df.apply(controversy2, axis=1)
df[['new_controversiality', 'controversiality', 'ups', 'downs']].describe()

       new_controversiality  controversiality           ups   downs
count                9494.0      23750.000000  16596.000000  9063.0
mean                    0.0          0.012674      4.082490     0.0
std                     0.0          0.111864      7.589157     0.0
min                     0.0          0.000000    -96.000000     0.0
25%                     0.0          0.000000      1.000000     0.0
50%                     0.0          0.000000      2.000000     0.0
75%                     0.0          0.000000      5.000000     0.0
max                     0.0          1.000000    330.000000     0.0

In [ ]:
d = ''

files = os.listdir(d)

for f in files:
    if f.endswith('.tsv')
    df = pd.read_csv(d+f, sep='\t')